<!-- subscribe.html -->
{% load i18n %}

<form method="post" action="{% url 'newsletter:subscribe' %}">
  <h5>Subscribe to our newsletter</h5>
  <p>Monthly digest of what's new and exciting from us.</p>
  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
    {% csrf_token %}
    {% for field in newsletter_form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in newsletter_form.visible_fields %}
        {{ field.label }} {{ field }}
    {% endfor %}
    <button class="btn btn-outline-primary" type="submit">{% translate 'Subscribe' %}</button>
  </div>
</form>
